<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>948413181622-86e8aoemlu6t8trlmcpk6mjnib0rehao.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.948413181622-86e8aoemlu6t8trlmcpk6mjnib0rehao</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>948413181622-fuaso7trouk8t1qs3239oc7diqgs6h1o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDh9GQh4f4I25msMJFWYzpTjvi8d-Fjq54</string>
	<key>GCM_SENDER_ID</key>
	<string>948413181622</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ku.howmany</string>
	<key>PROJECT_ID</key>
	<string>howmany-5756e</string>
	<key>STORAGE_BUCKET</key>
	<string>howmany-5756e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948413181622:ios:4dd7a63a026d253bf28017</string>
</dict>
</plist>